<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
        <div class="col-8 offset-2">
         <h3>Create new Listing</h3>
      <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title </label>
            <input type="text" placeholder="Add catchy title" name="listing[title]" class="form-control" />
            <div class="valid-feedback">Title look's good!</div>
        </div>
      
        <div class="mb-3">
            <label for="description" class="form-label">Description </label>
            <textarea placeholder="enter description" name="listing[description]" class="form-control"  ></textarea>
            <div class="invalid-feedback">Please enter short description</div>
        </div>
      
        <div class="mb-3">
            <label for="image" class="form-label"> Upload file </label>
            <input type="file" name="listing[image]" class="form-control"/>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label"> Price </label>
            <input  name="listing[price]" placeholder="1200" class="form-control"   />
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label"> Location </label>
            <input type="text" name="listing[location]" placeholder="Bhopal, Madhya Pradesh" class="form-control" />
            <div class="invalid-feedback">Location name should be valid</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label"> Country </label>
            <input type="text" placeholder="India" name="listing[country]" class="form-control"/>
            <div class="invalid-feedback">Country name should be valid</div>
        </div>
        <br/><br/>
        <button class="btn btn-dark add-btn ">Add</button> 
        <br/><br/>
      </form>
    </div>
</div>

